@import '@/styles/main.scss';

.wrap {

}

.title {
    margin-bottom: 16px;
}

.subTitle {
    margin-bottom: 24px;
}

.link {
    color: $mainColor;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.paragraph {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}