@import '@/styles/main.scss';

.content {
    display: flex;
    height: calc(100vh - 80px);
}

.main {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
}