@import '@/styles/main.scss';

.header {
    background: $mainColor;
    z-index: 9;
}

.container {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:first-child {
        margin-right: 16px;
    }

    img {
        margin-right: 24px;

        @include display(768px) {
            margin-right: 16px;
        }
    }
}